@font-face {
    font-family: "Gilroy-Bold";
    src: url(../fonts/Gilroy/Gilroy-Bold.woff) format("woff");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(../fonts/Gilroy/Gilroy-Medium.woff) format("woff");
}